<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accès à la Room Protégée</title>
    <link rel="stylesheet" href="/css/roomPassword.css">
</head>
<body>
    <div class="password-container">
        <h1>Accès à la Room Protégée</h1>
        <form action="/rooms/<%= roomId %>/access" method="POST">
            <label for="password">Mot de Passe :</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Entrer</button>
        </form>
        <% if (messages && messages.error) { %>
            <p class="error-message"><%= messages.error %></p>
        <% } %>
        <!-- Bouton de retour au menu -->
        <a href="/dashboard" class="back-button">Retour au Menu</a>
    </div>
</body>
</html>
